<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">
  <meta property=“og:image” content=“https://scontent.fiev1-1.fna.fbcdn.net/v/t1.0-9/85117088_3173097106056510_7659463659994742784_o.jpg?_nc_cat=107&_nc_sid=09cbfe&_nc_ohc=1jJiV8FC3YEAX_uOsFb&_nc_ht=scontent.fiev1-1.fna&oh=9c31786c56555dd70570c92eb04f5674&oe=5F38BD58” />

  <meta property=”og:image:width” content=”180″ />

  <meta property=”og:image:height” content=”110″ />
  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
  <link href="./static/favicon.ico" rel="icon">

  <title>Alex Zatyko</title>

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="minimal">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-inverse">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
            <li><a href="./index.html" title="">01 : Home</a></li>
            <li><a href="./works.html" title="">02 : Works</a></li>
            <li><a href="./about.html" title="">03 : About me</a></li>
            <li><a href="./contact.html" title="">04 : Contact</a></li>
            <li><a href="./cv.html" title="">05 : CV</a></li>
        </ul>


      </div>
    </div>
  </nav>
</header>

<embed src="./alex_zatykoo_2022.pdf" width="800px" height="2100px" />
