<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-icon-180x180.png">
  <link href="./static/favicon.ico" rel="icon">

  <title>Udemy certs - Alex Zatyko</title>

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./contact.html" title="">04 : Contact</a></li>
        </ul>


          <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
            <li><a href="./work01.html" title="">001</a></li>
            <li><a href="./work02.html" title="">002</a></li>
            <li><a href="./work03.html" title="">003</a></li>
            <li><a href="./work04.html" title="">004</a></li>
            <li><a href="./work05.html" title="">005</a></li>
            <li><a href="./work06.html" title="">006</a></li>
          </ul>


      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/udemyw.png" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">003 : My Udemy Certificates</h1>
          </div>
          <p>

          </p>
          <div class="col-xs-12">
            <p style="font-size:16px; padding-top: 4px;" class="text-center"> 24.5 Hours of Complete SQL + Databases Bootcamp - Advanced SQL, Database Management, Backup Strategies, Database Design</p>
            <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-f56dcafc-0572-4798-a523-0c07516f6e52.jpg?v=1602853972000" class="img-responsive" alt="">
          </div>

          <div class="col-xs-12">
            <p style="font-size:16px;" class="text-center"> 30.5 Hours of Python development - Scripting, Data scraping, Web Development, Machine Learning,
             Data Science</p>
            <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-c33178b7-e6ad-40a0-953a-5ecdfc5a68f4.jpg?v=1595172811000" class="img-responsive" alt="">
          </div>

           <div class="col-xs-12">
            <p style="font-size:16px;" class="text-center"> 12 Hours of Databricks fundamentals and Apache Spark</p>
            <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-0896c100-fb00-4b2e-91c4-5d4c463e227d.jpg?v=1595067281000" class="img-responsive" alt="">
          </div>

          <div class="col-xs-12">
            <p style="font-size:16px;" class="text-center"> 10.5 PySpark for Machine Learning</p>
            <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-fee55553-ef18-465f-8b36-9c0a64a37757.jpg?v=1592399512000" class="img-responsive" alt="">
          </div>

          <div class="col-xs-12">
            <p style="font-size:16px;" class="text-center"> 47 Hours of Web Development - FrontEnd, BackEnd - CSS, Bootstraps 3/4, Javascript, Node.js, MongoDB</p>
            <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-SWNU7JN8.jpg?v=1560951240000" class="img-responsive" alt="">
          </div>

          <div class="col-xs-12">
            <p style="font-size:16px; padding-top: 4px;" class="text-center"> 9 Hours of Game Development in C++</p>
            <img src="https://udemy-certificate.s3.amazonaws.com/image/UC-WWXHSWD2.jpg?v=1530121027000" class="img-responsive" alt="">
          </div>

        </div>
      </div>

      
      


    </div>
  </div>
</div>


<footer class="footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>